body { 
    
font-family: Arial; 
margin: 0; 
 background-color: 	#F8E8EE !important;
}
    
header {
    text-align: center;
  }
  header h1 {
    font-size: 2em;
    margin-bottom: 2px;
    margin-top: 1rem;
    animation: fadeIn 2s ease;
  }
  header p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .cta-btn {
    background: white;
    color: #c78b99;
    padding: 12px 24px;
    border: 1px solid #c0697d;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .cta-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
  }

  .profilebtn{
    display: inline-block;
    background: #c78b99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 10px;
    transition: background 0.2s;
  }
  .profilebtn:hover {
    background: #bf6a7e;
  }

  .grid {
    display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); gap: 20px; padding: 0 20px; max-width: 1000px; margin: auto;
  }
  .card {
    /* background: white;  */
    background: #F9F5F6;
    border-radius: 12px; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); text-align: center;
    transition: transform 0.3s;
  }
  .card:hover { 
    transform: translateY(-5px); 
}
  .card h3 { 
    margin: 0 0 10px; 
    color: #111827; 
    font-size: 1rem;
}
  .stat { 
    font-size: 26px; 
    color: #c78b99;
 }
  canvas { 
    width: 100% !important; 
    height: 200px !important; 
}


