body {
    font-family: Arial, sans-serif;
     background-color: 	#F8E8EE;
}

.container2 {
    width: 25%;
    margin-left: 20rem;
    margin: 22px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
.contain{
      margin-top: 13px;
}
.heading2{
    color: black;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 8px;
    font-size: 1.25rem !important;
}

.form-group {
    margin-bottom: 6px;
      background-color: #FFFFFF;
}

label {
    /* display: block; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

.form-control{
    width: 93%;
    height: 34px;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    .moveback{
        text-decoration: none;
           /* margin-left: 2rem; */
    }
    .moveback:hover{
        text-decoration: underline;
    }


.state{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    width: 31%;
    height: 40px;
    padding: 5px;
    margin-left: 1.5rem;
    margin-top: 6px;
    margin-right: 94px;
    background-color:  #c78b99;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:  #c55d75;
}


@media (min-width: 250px) and (max-width: 780px) {
    .heading2 {
        top: 20px;
        left: 67px;
        color: black;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .name{
        margin-top: 4rem;
    }
    .container2{
        width: 87%;
        margin: 119px auto;
    }
    .state{
        width:100%;
    }
    button[type="submit"]{
        width: 47%;
        margin-left: 1rem;
        margin-top: 14px;
    }
    .moveback{
        text-decoration: none;
        margin-left: 4rem;
    }
    .moveback:hover{
        text-decoration: underline;
    }
}
