body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.footer {
  background-color: #1e1e1e;
  color: #ccc;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  gap: 40px;
}

.footer-logo h1 {
  color: white;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
}

.footer-logo span {
  display: block;
  border-top: 2px solid white;
  width: 28px;
  margin-top: 6px;
}

/* .footer-section {
  min-width: 160px;
} */

.footer-section h2 {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 8px;
}

.social-icons a {
  display: inline-block;
  background-color: #333;
  padding: 8px;
  border-radius: 4px;
  transition: background 0.3s;
}

.social-icons a:hover {
  background-color: #444;
}

.social-icons img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: #888;
}

.footer-bottom a {
  color: #aaa;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
  }
}


@media(max-width:768px){
      .footer-section h2 {
    font-size: 13px;
  }
  .footer-section ul li a {

    font-size: 6px;
}

.social-icons a {
    padding: 4px;
}
}