*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.col-4 p{
  font-size: 1.5rem;
  margin-left: 5rem;
  /* margin-top: 37px;
  margin-bottom: 1rem; */
}
.col-4 a{
    font-size: 2.5rem;
    text-decoration: none;
    transition: transform 1s;
    margin: 0.5rem;
    margin-left: 3rem;
    color: black;
}

/* .fa-google-play{
    height: 200px;
    width:50px
} */
/* .col-4 i{
    margin-left: 1rem;
    margin-top: 3rem;
} */

.col-4 i:hover{
    color: rgb(218, 88, 131);
        transform: translateX(2px);
        cursor: pointer;  
}
.col-4 h3{
    font-size: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 0.6rem;
    margin-left: 6rem;
    font-family:'Times New Roman', Times, serif;
}
.col-4 h3:hover{
    color:rgb(218, 88, 131);
        cursor: pointer;  
}
.footer{
    font-size: 1rem;
    margin-left: 4rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
     .col-4 p{
        font-size: 0.8rem;
        margin-left: 1rem;
        /* margin: 1rem; */
    }
    .col-4 a{
        font-size: 1.25rem;
        margin: 0.25rem;
        padding-left: 8px;
    }
    .col-4 h3{
        font-size: 0.8rem;
        /* margin-bottom: 0.5rem;
        margin-top: 0.1rem; */
        margin-left: 1rem;
    }
    .footer{
        margin-left: 0.5rem;
    }

}

/* tablet responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
    .col-4 p{
        font-size: 1.5rem;
        /* padding-top: 1.5rem; */
        /* margin: 1rem; */
    }
    .col-4 a{
        font-size: 1.9rem;
        padding-left: 30px;
        margin: 0.5rem;
    }
    .col-4 h3{
        font-size: 1.25rem;
        margin-bottom: 0.7rem;
        margin-top: 0.5rem;
    }
    .footer{
    font-size: 1.5rem;
    margin-left: 14rem;
    margin-top: 2rem;
}
    }

