body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    /* background: linear-gradient(to bottom right, #4e5d4e, #a4925a); */
    background-color: 	#F8E8EE !important;
}

.container2 {
    width: 30%;
    margin-left: 20rem;
    margin: 106px auto;    
    /* padding: 20px; */
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.password-group {
    position: relative;
}

.password-group input {
    width: 100%;
    padding-right: 40px;
}



.toggle-password {
    position: absolute;
    top: 66%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;

    -webkit-user-select: none; /* Safari / iOS */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Old Edge */
    user-select: none;         /* Standard */
}

/* @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        margin-left: 14rem;
        max-width: 1000px;
    }
} */

.heading3{
    text-align: center;
    opacity: 0.6;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
       /* background-color: #F9F5F6; */
}

label {
    display: block;
    margin-bottom: 7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 1.25rem;
       background-color: #FFFFFF;
    border: 1px solid #8d4883;
    border-radius: 5px;
}

button[type="submit"] {
    width: 30%;
    height: 40px;
    padding: 8px;
    margin-top: 0.5rem;
    /* margin-left: 15rem; */
    /* margin-left: 2rem; */
    /* background-color: #4CAF50; */
    background-color: #c78b99;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    /* background-color: #3e8e41; */
    background-color: #e478ac;
}


.login-container {
    background-color: rgba(255, 255, 255, 0.05);
    /* padding: 20px 30px; */
    border-radius: 8px;
    margin-top: 2.5rem;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 85px;
  }

  .Remember{
    margin-right: 2px;
  }
  
  .login-options {
    width: 55%;
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    color: #ffffff;
  }
  
  .remember-me {
    color: #c78b99;
    font-size: 14px;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #c78b99;
    margin-left: 1.2rem;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }


@media(max-width:768px){
    .container2{
        width:90%;
        padding: 18px;
        margin: 152px auto;
    }
    button[type="submit"] {

        width: 70%;
        margin-left: 3rem;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
    }
    .login-options {
        width: 80%;
        display: flex;
        flex-direction: column;
}
.remember-me {
    font-size: 12px;
  }
  
  .forgot-password {
    font-size: 12px;
    color: #c78b99;
    margin-left: 1.2rem;
    text-decoration: none;
  }


}
