/* Navbar base styles */
body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  /* .navbar {
    background-color: #F9F5F6;
    background-color: #FFF9F4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 0.8rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
  } */

  header{
    background-color: #F9F5F6;
    background-color: #FFF9F4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    padding: 0.8rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }


  .nav-items a:hover {
  border-bottom: 2px solid #da4a78;
}
  
  .navbar-container {
    max-width: 1200px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img{
    width: 100px;
    height: auto;
    margin-right: 14rem;
  }
  .nav-items{
    margin-top: 0.3rem;
  }
  
  .nav-links {
    display: flex;
    gap: 15.5rem;
    /* margin-left: 300px; */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    transition: background-color 0.2s;
  }
  
  .nav-links a:hover {
    background-color: #f0f0f0;
  }
  .login {
    /* border: 1px solid #3b82f6;
    color: #3b82f6; */
    border: 1px solid #d7506f; color: #8D6748; background: transparent; border-radius: 8px;
  }
  
  .login:hover {
    background-color: #3b82f6;
    color: white;
  }
  
  .auth-buttons {
    display: flex;
    gap: 0.5rem;

  }
  
  .btn {
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: 0.3s ease;
  }
 
  
  
  .signup {
    /* background-color: #3b82f6;
    color: white; */
     background: #c78b99; 
     color: white; 
     border-radius: 8px;
  }
  
  .signup:hover {
    background-color: #c57386 !important;
  }
  .sidebar-icon i {
   margin-right: 10px;
  }
  /* Mobile menu */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    height: 3px;
    background: #333;
    margin: 4px 0;
    width: 25px;
    border-radius: 3px;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 1101;
  }
  .hidden{
    overflow:hidden;
  }

  /* //desktop */

  @media(min-width: 768px){
    .sidebar-icon i {
      display: none;
    }
    .sidebar-menu{
      display: none;
  }
  .nav-logo img{
    display: none;
  }
  .close-btn{
    display: none;
  }
}
  
  
  /* Responsive */
  @media (max-width: 768px) {
    
    .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      width: 75%;
      height: 90vh;
      border-radius: 5px;
      box-shadow: -2px 0 5px rgba(0,0,0,0.1);
      background-color: rgba(255, 255, 255, 0.98);
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      display: flex;
      transform: translateX(-100%);
      transition: opacity 0.3s ease, transform 0.4s ease;
      z-index: 1000;
      padding: 2rem 1.5rem;
      gap: 0rem;
    }
    
    .nav-links.active {
      transform: translateX(0);
    }
  
    .nav-items {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    .nav-links a {
      font-size: 1.3rem;
      margin: 5px 10px;
      padding: 5px 24px;
      width: 92%;
      text-align: center;
      border-radius: 3px;
      background-color: white;
      transition: background-color 0.2s;
    }
  
    .nav-links a:hover {
      /* background-color: #eaddea; */
      border: 1px  #94aac7;
      cursor: pointer;
    }

    .logo img{
      width: 80px;
      height: auto;
    }
  
    .auth-buttons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding-top: 1rem;
        margin-left: 0;
        border-top: 1px solid #ddd;
    }
    /* Button styles */
.auth-buttons .btn {
  padding: 0.6rem 2.2rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
.auth-buttons .btn{
    border: 1px solid #c0536d;
    color: white !important;
    background-color: #c78b99!important;
  }
  
  .auth-buttons .btn:hover {
    background-color: #bf546d;
    color: rgb(16, 14, 14);
}
/* .shift{
  margin-right: 1rem;
} */
.sidebar-icon {
 font-size: 14px;
}
.sidebar-icon i{
  font-size: 24px;
  display: inline-block;
  opacity: 1.7;
  margin-right: 12px;
}
.sidebar-icon{
  opacity: 0.7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar-icon:hover{
  color: #c05870;
  background-color: lightblue;
}

.nav-logo img{
  height: 50%;
}
.nav-logo{
  height: 70px;
}
/* Optional hover */
.auth-buttons .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
    
    .menu-toggle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
    }
  
    .menu-toggle span {
      width: 26px;
      height: 3px;
      background-color: #333;
      border-radius: 2px;
    }
  
  
    .logo img{
        height: 30px;
        width: 100px;
    }
    .close-btn {
      position: absolute;
      top: 1.2rem;
      right: 1.5rem;
      font-size: 2rem;
      cursor: pointer;
      }

    
}

/* tablet responsiveness */

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    border-radius: 5px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.98);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.4s ease;
    z-index: 1000;
    padding: 2rem 1.5rem;
  }
  
  .nav-links.active {
    transform: translateX(0);
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .nav-links a {
    font-size: 1.3rem;
    margin: 12px 10px;
    padding: 14px 24px;
    width: 80%;
    text-align: center;
    border-radius: 30px;
    background-color: white;
    transition: background-color 0.2s;
  }

  .nav-links a:hover {
    border: 1px solid  #c65670;
    background-color: #eaddea;
    color:  #c78b99;
    cursor: pointer;
  }

  .sidebar-icon {
    font-size: 14px;
   }
   .sidebar-icon i{
     font-size: 24px;
     display: inline-block;
     opacity: 1.7;
     margin-right: 12px;
   }
   .sidebar-icon{
     opacity: 0.7;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
   .sidebar-icon:hover{
     color: #ba5b71;
     background-color: lightblue;
   }
   
   .nav-logo img{
     height: 50%;
   }
   .nav-logo{
     height: 70px;
   }

  .auth-buttons {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding-top: 1rem;
      margin-left: 0;
      border-top: 1px solid #ddd;
  }
  /* Button styles */
.auth-buttons .btn {
padding: 0.6rem 2.2rem;
border-radius: 25px;
font-size: 1rem;
font-weight: 600;
transition: all 0.3s ease;
}
.auth-buttons .btn{
  border: 1px solid #c78b99;
  background-color: white;
  color: #7d4955 !important;
}

.auth-buttons .btn:hover {
  background-color: #c5637a;
  color: white;
}

/* Optional hover */
.auth-buttons .btn:hover {
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }

  .menu-toggle span {
    width: 26px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
  }


  .logo img{
      height: auto;
      width: 100px;
      margin-right: 40rem;
  }
  .close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    } 
      .logo img{
        height: 50px;
        width: 120px;
      }  
  }
