<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <footer style="background-color: #F3F4F6;
    color: #4B5563;">
      <hr>
    <div class="row">
        <div class="col-4">
          <!-- <p>Social Media</p> -->
          <a><i class="fa-brands fa-square-facebook"></i></a>
          <a><i class="fa-brands fa-square-instagram"></i></a>
          <a><i class="fa-brands fa-twitter"></i></a>
        </div>
  
        <div class="col-4">
          <h3>Privacy Policy</h3>
          <h3>Community</h3>
          <h3>Contact Us</h3>
        </div>
  
        <div class="col-4">
          <p>My Best Colors App
            <a class="link" href="https://play.google.com/store/apps/details?id=com.colorwise.me.allseasons&pcampaignid=web_share">
              <i style="font-size: 2rem;" class="fa-brands fa-google-play"></i>
            </a>
          </p>
        </div>
  
        <p class="footer">© 2025 StyleMate. All rights reserved.</p>
      </div>
    </footer>
    
</body>
</html>