<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat History</title>
  <link rel="stylesheet" href="./static/css/history.css">
</head>
<body>
  {% extends "base.html" %}
  {% block title %}Home - StyleMate{% endblock %} 
  {% block content %}

<h1 class="hist_head">Your Chat History</h1>

<div class="chat-history" id="chatHistory">
  <!-- Chat history will go here -->
</div>

<script src="./static/js/history.js"></script>
{% endblock %}
</body>
</html>
