
    {% extends "base.html" %}

    {% block title %}Home - StyleMate{% endblock %}
    
    {% block content %}
    <div class="main">
    
    
          <!-- Background image section -->
        <div class="imgsec">
            <img class="img" src="{{ url_for('static', filename='images/Background_img.jpg') }}" alt="no image found">
        </div>

          <!-- start button+ Text Overlay -->
        <div class="button">
            <div class="heading">
            <p class="catchyline">
                <span class="word">Find</span>
                <span class="word">Your</span>
                <span class="word">Tone,</span>
                <span class="word"> Define</span>
                <span class="word"> Your</span>
                <span class="word"> Style.</span>
            </p>
            </div>
            {% if session.get('user_id') %}
  <a href="{{ url_for('upload') }}" class="btn btn-primary btn-lg start">Start now</a>
{% else %}
  <a href="{{ url_for('login', next='upload') }}" class="btn btn-primary btn-lg start">Start now
  </a>
{% endif %}
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-6" data-aos="fade-up">
                    <h1 style="overflow:hidden; font-family: 'Poppins', 'Segoe UI', 'sans-serif';">Color-Analyze Yourself</h1>
                    <p>Start your color analysis with three easy steps. First, take a face-only selfie. Next, select the most prominent tones from your skin, hair and eyes. StyleMate will use these features as the basis for a palette perfectly suited to you!</p>
                    <a href="{{ url_for('details') }}">
                    <img src="{{ url_for('static', filename='images/self-test.a2217fcb.png') }}" class="self-image" alt="some image">
                </a>
                </div>
    
                <div class="col-6" data-aos="fade-up">
                    <h1 style="overflow:hidden; font-family: 'Poppins', 'Segoe UI', 'sans-serif' ;">My Best Colors App</h1>
                    <p>My Best Colors is a stellar shopping companion which uses your smartphone camera to instantly recognize colors that flatter you. It's easy, accurate and fun to use! Find your best colors which will make you stand out,Eliminate the guesswork and make great choices when updating your wardrobe.</p>
                    <a href="{{ url_for('details') }}"><img src="{{ url_for('static', filename='images/styleclothes.png') }}" class="self-image" alt="some image"></a>
                </div>
            </div>
    
<!-- login button on page  -->
<div class="cta-section">
  <div class="cta-text">
    <h2 style="font-family: 'Poppins', 'Segoe UI', 'sans-serif';">What are you waiting for?</h2>
    <p>Discover your perfect style based on your skin tone.</p>
  </div>
  <div class="button-container">
    <form action="{{ url_for('login') }}" method="get">
      <button class="reg" type="submit">Login</button>
    </form>
    <form action="{{ url_for('signup') }}">
      <button class="reg" type="submit">Register</button>
    </form>
  </div>
</div>


            <!-- palette layout -->

            <div class="container2" style="margin-bottom: 3rem;">
                <div class="row">
                    <h2 style=" margin: 2rem 0 2rem 0 ; font-family: 'Poppins', 'Segoe UI', 'sans-serif';">Palette Designes</h2>
                </div>
                <div class="row">
                    <div class="col-6" data-aos="fade-right">
                       <img  class="color" style="height: auto; width: 75%;" src="./static/images/winter.png" alt="winter">
                       <img class="color"  style="height: auto; width: 75%; margin-top: 1rem;" src="./static/images/summer.png" alt="summer">
                    </div>
    
                    <div class="col-6" data-aos="fade-left">
                        <img class="color"  style="height: auto; width: 75%;" src="./static/images/autumn.png" alt="autumn">
                        <img class="color"  style="height: auto; width: 75%; margin-top: 1rem;" src="./static/images/spring.png" alt="spring">
                    </div>
                </div>
            </div>


    
            <div class="container2">
                <div class="row">
                    <div class="col-6" data-aos="fade-right">
                        <h1 style="overflow:hidden;">Picture to Palette</h1>
                        <p>Build the foundation of your personal palette using items already in your wardrobe. Our algorithm automatically suggests a palette based on the dominant colors in your photo.</p>
                        <a href="{{ url_for('details') }}"><img src="{{ url_for('static', filename='images/picture-to-palette.95c69b3d.png') }}" class="self-image circle" alt="some image"></a>
                    </div>
    
                    <div class="col-6" data-aos="fade-left">
                        <h1 style="overflow:hidden;">Capsule Palettes</h1>
                        <p>Explore the internet's largest collection of community-curated capsule wardrobe palettes, tailored to your color type. Use them as inspiration to build your own custom palettes.</p>
                        <a href="{{ url_for('details') }}"><img src="{{ url_for('static', filename='images/capsule-palette.f767f875.png') }}" class="self-image circle" alt="some image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    
    {% endblock %}